@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #074ca5;
  position: sticky;
}

.logo {
  cursor: pointer;
  size: 15px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff9d; 
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffffff;
}

.cta {
  padding: 9px 25px;
  color: white;
  background-color: rgb(101, 168, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgb(85, 140, 243);
}

/* -----------Mobile Nav------------- */

.menu {
  display: none;
  color: white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000000ea;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffffff;
  font-weight: 1200;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #ffffffbb;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* ----------------Landing Page---------------------- */
#landingPage{
  height: 80vh;
  width: 100%;
  background-color:#162141;
  color: white;
  padding-left: 100px; 
}
#landingPage h2{
  width: 60%;
  padding-top: 160px;
  margin-bottom: 0px;
  font-size: 35px;
}
#landingPage h1{
  width: 60%;
  font-size: 80px;
  padding-top: 0px;
  margin-top: 0px;
}
#landingPage p{
  font-size: 23px;
  line-height: 30px;
}
#landingPage div img {
  float: right;
  width: 40%;
  height: 65%;
  padding: 60px 30px 15px 0px;
}
span{
  height: 20px;
  width: 15px;
  background-color: transparent;
  display: inline-block;
}
#landingPage p{
  width: 55%;
  line-height: 35px;
}
#landingPage button.btn{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 115, 246);
  padding: 15px 30px;
  border: 2px;
  border-radius: 8px;
  font-size: 35px;
  font-weight: 800;
  transition: .4s;
  margin-top: 30px;
}
#landingPage button.btn:hover{
  background-color: rgb(170, 43, 243);
  color: white;
}

/* ------------------About Us ------------------ */

#about .back{
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: #162141; 
  
}
#about .mainBox{
  background-color: #074ba578;
  margin: auto;
  border-radius: 20px;
  width: 90%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#about .left-col{
 flex-basis: 45%;
  height: 75vh;
  align-items: flex-start;
}
#about img{
  width: 500px;
  height: 500px;
  float: left;
  margin: 70px 0px 0px 80px;
}
#about .right-col{
  flex-basis: 55%;
  align-items: center;
  height: 75vh;
  align-items: flex-start;
}
#about h1{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.787);
  margin: 120px 0 0px 0;
}
#about h2{
  font-size: 60px;
  color: white;
  margin: 0px 0 0 -5px;
}
#about p{
  color: white;
  font-weight: 100;
  font-size: 17px;
  text-align: justify;
  padding-right: 50px;
  padding-top: 10px;
  line-height: 30px;
  width: 100%;
}
#about span.lin-1{
  display: inline-block;
  height: 3px;
  width: 65px;
  outline: none;
  background-color: #ffffff
  

}
#about span.lin-2{
  margin: 0px;
  display: inline-block;
  height: 3px;
  width: 150px;
  outline: none;
  background-color: #ffffff
  

}
#about span.lin-3{
  display: inline-block;
  height: 3px;
  width: 265px;
  outline: none;
  background-color: #ffffff
}
